html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to left, rgba(0,180,0,0.5), rgba(0,180,180,0.5));
    font: normal 18px Arial;
}

header {
 color: black;
 text-align: center;
}

section {
background: rgb(235, 231, 231);
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}
#button {
    text-align: center;
}
footer {
color: black;
text-align: center;
font-style: italic;
}